body, p {
    font-size: 13pt;
    line-height: normal;
}

* {
    line-height: normal;
}

h1 {
    letter-spacing: 0.4em;
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
}

#menu {
    text-align: right;
}
