body, p {
    font-size: 13pt;
    line-height: normal;
}

* {
    line-height: normal;
}

h1 {
    letter-spacing: 0.2em;
    font-size: 24pt;
    font-weight: bold;
    text-align: left;
}

.content {
    text-align: justify;
}

#menu {
    text-align: right;
    padding:    1em;
}
