* {
    line-height: normal;
    box-sizing: border-box;
}
body, p {
    font-size: 13pt;
    line-height: normal;
}

h1 {
    letter-spacing: 0.2em;
    font-size: 24pt;
    font-weight: bold;
    text-align: left;
}

.content {
    text-align: justify;
}

#menu {
    text-align: right;
    padding:    1em;
}
.rdform-container {
    position: absolute;    
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    background:rgba(255,255,255,0.5);
}
.rdform {
    max-width: 800px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -470px;
    border: 1px solid black;
    background: white;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    padding: 30px;
}